@import '../../App.scss';

.section {
  @include flexbox(column);
  justify-content: center;
  margin-bottom: $indent__xxl;

  h2 {
    text-transform: uppercase;
    letter-spacing: $letter-spacing__m;
    margin: $indent__s;
    font-size: $font-size__xl;
    padding: $indent__s;
  }

  h2 {
    @include reponsive-mobil {
      font-size: $font-size__l;
      padding: 0;
    }
  }
}

.section {
  @include reponsive-mobil {
    margin-bottom: $indent__xl;
  }
}
