@import '../../App.scss';

.header {
  @include flexbox($direction: column);
  margin-top: $indent__xl;
  padding: 0;

  &_title {
    font: {
      size: $font-size__m;
      weight: 400;
    }
    letter-spacing: $letter-spacing__m;
    text-transform: uppercase;
    margin-top: $indent__s;
  }

  &_title {
    @include reponsive-mobil {
      font-size: $font-size__s;
      letter-spacing: $letter-spacing__m;
    }
  }
}
