@import '../../App.scss';

.header {

    @include flexbox($direction:column);
    background-color: $col-white;
    padding: $indent__xl;

    &_title{
        font: {
            size: $font-size__xl;
        }
        letter-spacing: $letter-spacing__m;
        text-transform: uppercase;
        margin: 0;
    }

    &_title{
        @include reponsive-mobil{
            font-size: $font-size__l;
        }
    }

    &_subtitle{
        font: {
           size: $font-size__s;
           weight: 400;
        }
        margin: 0;
    }

}

.header{
    @include reponsive-mobil{
        padding: $indent__l;
    }
}