@import '../../App.scss';

.footer {
  @include flexbox(column);
  gap: 10px;
  margin: 0;
  color: $col-white;
  padding: $indent__base;

  &_title {
    font: {
      size: $font-size__s;
      weight: 300;
    }
    text-align: center;
    margin: 0;
  }
}
